body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD
    background-color: darkslategray;
=======
    background-color: rgb(17, 0, 37);
>>>>>>> try-purple
}

h1 {
    font-size: 15rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}